<html>
  <body>
    <a href='/posts/new'>CreatePost</a>
    <% posts.forEach((post) => { %>
      <p><%= post.title %></p>
      <p><%= post.content %></p>
      <p>Author: <%= currentUser && currentUser.is_member ? post.firstName : "Anonymous" %></p>
      <% if (currentUser && currentUser.is_admin) { %>
        <button onClick="deletePost('<%= post.id %>')">Delete</button>
      <% } %>
      <a href="/comments/<%= post.id %>">
        <button>View Comments</button>
      </a>
      <a href="/comments/<%= post.id %>/new">
        <button>Add Comments</button>
      </a>
      <p><%=post.likeCount%></p>
      <form method="POST" action="/like/<%=post.id%>" >
        <button type='submit'>LIke</button>
      </form>
    <% }) %>

    <script>
      async function deletePost(id) {
        try {
          const res = await fetch(`/posts/${id}`, {
            method: 'DELETE'
          });
          if (res.ok) {
            alert('Post deleted');
            location.reload();
          } else {
            alert('Failed to delete post');
          }
        } catch (err) {
          alert('Error deleting post');
          console.error(err);
        }
      }
    </script>
  </body>
</html>

