<html>
  <body>
    <a href='/posts/new'>CreatePost</a>
    <% posts.forEach((post) => { %>
      <p><%= post.title %></p>
      <p><%= post.content %></p>
      <p><%= currentUser && currentUser.is_member ? post.firstName : "anonymous" %></p>
      <% if (currentUser && currentUser.is_admin) { %>
        <button onClick="deletePost('<%= post.id %>')">Delete</button>
      <% } %>
      <button><a href="/comments/<%=post.id%>">View Comments</a></button>
      <button><a href="/comments/<%=post.id%>/new">Add Comments</a></button>
    <% }) %>

    <script>
      async function deletePost(id) {
        try {
          const res = await fetch(`/posts/${id}`, {
            method: 'DELETE'
          });
          if (res.ok) {
            alert('Post deleted');
            location.reload();
          } else {
            alert('Failed to delete post');
          }
        } catch (err) {
          alert('Error deleting post');
          console.error(err);
        }
      }
    </script>
  </body>
</html>

