<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form METHOD="POST" action='/signup'>
      <div>
        <label>First Name:</label>
        <input name='firstName' type='text' placeholder='rahul' minlength='3' required  value="<%= formData.firstName || '' %>"/>
        <p class='error_p'><%= err.firstName || '' %></p>
      </div>
      <div>
        <label>Last Name:</label>
        <input name='lastName' type='text' placeholder='kumar' minlength='3' value="<%= formData.lastName || '' %>"/>
        <p class='error_p'><%= err.lastName || '' %></p>
      </div>
      <div>
        <label>Email:</label>
        <input name='email' type='email' placeholder='nerd@gmail.com' required value="<%= formData.email || '' %>"/> 
        <p class='error_p'><%= err.email || '' %></p>
      </div>
      <div>
        <label> Password:</label>
        <input name='password' type='password' minlength='2' maxlength='10' required value="<%= formData.password || '' %>"/>
        <p class='error_p'><%= err.password || '' %></p>
      </div>
      <div>
        <label>Confirm Password:</label>
        <input name='confirmPassword' type='password' minlength='2' maxlength='10' required value="<%= formData.confirmPassword || '' %>"/>
        <p class='error_p'><%= err.confirmPassword || '' %></p>
      </div>
      <button type='submit'>Submit</button>
    </form>
  </body>
</html>
